* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #333;
}


body {
	background-image: url(../img/bg-bye.jpg);
	background-repeat: no-repeat;
	background-position: center 20px;
}

.content {
	max-width: 1000px;
	margin: 0px auto;
	display: flex;
}

.bye {
	width: 35%;
	padding: 300px 0 0 50px;
	margin-bottom: 50px;
}
h1 {
	font-size: 46px;
	padding-bottom: 20px;
	font-weight: 600;
	letter-spacing: -2px;
	line-height: 100%;
}
p {
	padding-bottom: 10px;
}

.link {
	background-color: #071c2c;
    border-radius: 28px;
    padding: 15px 30px;
    display: inline-block;
    color: white;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}
.link:hover {
	background-color: black;
}





@media (max-width: 1024px){
	
	body {
		background-image: url(../img/bg-bye-sm.jpg);
	}
	.content {
	max-width: 400px;
	margin: 0px auto;
}
.bye {
	width: 100%;
	padding: 300px 130px 0 30px;
}

h1 {
	font-size: 26px;
}
p {
	font-size: 14px;
}
}






@media (max-width: 400px){
	
	body {
		background-size: contain;
	}
	.bye {
	padding: 240px 70px 0 30px;
}
}